
  .error-container {
    text-align: center;
    padding: 200px;
  }

  .error-heading {
    font-size: 10rem;
    font-weight: bold;
    color: #dc3545;
  }

  .error-message {
    font-size: 2rem;
    margin-top:100px;
    margin-bottom:100px;
  }

  