<app-discount-coupon></app-discount-coupon>
<div *ngIf="!isCustomerLoggedIn && !isAdminLoggedIn">
<mat-toolbar style="background-color:  #9A616D; color: #fff;" class="navbar"> 
<div class="container">
<span class="navvar-brand">E-Commerce</span>
<div class="mr-auto">
<button mat-button routerLink="/track-order" routerLinkActive="active">Track Order</button>
<button mat-button routerLink="/signup" routerLinkActive="active">Register</button>
<button mat-button routerLink="/login" routerLinkActive="active">Login</button>
</div>
</div>
</mat-toolbar>
</div>
<div *ngIf="isAdminLoggedIn">
    <mat-toolbar style="background-color:  #9A616D; color: #fff;" class="navbar"> 
    <div class="container">
    <span class="navvar-brand">E-Commerce</span>
    <div class="mr-auto">
    <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button routerLink="/admin/analytics" routerLinkActive="active">Analytics</button>
    <button mat-button routerLink="/admin/brand" routerLinkActive="active">Brand</button>
    <button mat-button routerLink="/admin/sub-category" routerLinkActive="active">Category</button>
    <button mat-button routerLink="/admin/category" routerLinkActive="active">SubCategory</button>
    <button mat-button routerLink="/admin/product" routerLinkActive="active">Product</button>
    <button mat-button routerLink="/admin/orders" routerLinkActive="active">Orders</button>
    <button mat-button routerLink="/admin/coupons" routerLinkActive="active">Coupons</button>
    <button mat-button routerLinkActive="active" (click)="logOut()">Logout</button>
    </div>
    </div>
    </mat-toolbar>
</div>

<div *ngIf="isCustomerLoggedIn">
    <mat-toolbar style="background-color:  #9A616D; color: #fff;" class="navbar"> 
    <div class="container">
    <span class="navvar-brand">E-Commerce</span>
    <div class="mr-auto">
    <button mat-button routerLink="/customer/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button routerLink="/customer/cart" routerLinkActive="active">Cart</button>
    <button mat-button routerLink="/customer/my_orders" routerLinkActive="active">Orders</button>
    <button mat-button routerLink="/customer/wishlist" routerLinkActive="active">Wishlist</button>
    <button mat-button routerLink="/customer/profile" routerLinkActive="active">Profile</button>
    <button mat-button routerLinkActive="active" (click)="logOut()">Logout</button>
    </div>
    </div>
    </mat-toolbar>
</div>

<router-outlet></router-outlet>