.custom-cart-button {
    align-items: center;
  }
  
  .cart-icon {
    position: relative;
    margin-right: 10px; 
  }
  
  .bi.bi-cart {
    font-size: 2.5rem; 
  }
  
  .badge {
    position: absolute;
    top: -10px; 
    right: -30px; 
    font-size: 1.2rem; 
  }