@keyframes moveText {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .discount-coupon {
    overflow: hidden;
    position: relative;
    background-color:#9FE2BF;
    height: auto;
    width: 100%;
    padding: 2px;
  }

  .coupon-text {
    white-space: nowrap;
    padding: 5px;
    animation: moveText 40s linear infinite; 
   
  }
  .company-name {
    text-align: center;
    font-size: 50px;
    font-family: 'cursive';
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 10px;
    
  }